* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

root {
    /*--Raleway: 'Raleway', sans-serif;*/
    /*--OpenSans: 'OpenSans', sans-serif;*/
}

body {
    font-family: "Raleway";
    padding-bottom: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background: #FFFFFF);
    border-bottom: solid rgba(255,255,255,0.2) 1px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.logo {
    font-size: 1.5em;
    text-align: left;
    font-weight: 300;
    color: #08A6E4;
    margin-left: 90px;
    font-family: "Raleway";
}

ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 90px;

}



li a {
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    color: grey;
}

li a:hover {
    color: #000000;
    border-bottom: #08A6E4 solid;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main > h1 {
    font-family: "Raleway";
    font-size: 2.5em;
    color: #00000;
}

.main > p {
    margin: 20px 0;
}

.image {
    height: 400px;
    width: 100%;
    background: url("../assets/Background.png") no-repeat center /cover;
}

.button-open-shop {
    width: 440px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    text-align: center;
    font: bold 16px/22px Open Sans;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 0;

}

.sales {
    width: 100%;
    height: 350px;
    background: #FFFFFF 0% 0% no-repeat;

}

.sales h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}

.sales-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 250px;
    margin-top: 100px;

}

.sales-icon div::before {
    content: " ";
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #08A6E4 no-repeat padding-box;
    position: absolute;
    z-index: 1;
}

.sales-icon:first-child div::before {
    background: #FB3B64;
}

.sales-icon:last-child div::before {
    background: #55DFB4;
}

.sales-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    position: relative;
}

.sales-icon div {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
}

.sales-icon div img {
    z-index: 2;
    position: relative;
    left: 20px;
}

.sales-icon h4 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 20px;

}
.sales-icon p {
    text-align: center;
    color: #A5A5A5;
    font-size: 15px;
}



.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1395px;
    background: #F7F7F7 no-repeat;
}

.why-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1125px;
    height: 370px;
    margin: 25px auto 25px auto;
    padding: 30px;
    background-color: #FFFFFF;
}

.content .why-row .why-row-info   {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 416px;
}

.why-row-info h3 {
    font-family: Raleway;
    font-size: 36px;
}

.why-row-info p {
    font-family: "Open Sans";
    font-size: 16px;
}

.why-row-info::after {
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #FB3B64;
}

.why-row-img img {
    width: 386px;
    height: 219px;
    z-index: 3;
    position: relative;

}
.why-row:first-of-type {
    padding: 100px 30px;
}
.why-row-img {
    position: relative;
}

.why-row-img > div {
    position: relative;
}
.why-row-img > div::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 30%;
    background-color: #FB3B64;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;

}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1125px;
    height: 370px;
    margin: 25px auto 25px auto;
    padding: 30px;
    background-color: #FFFFFF;
}

.second-row-img img {
    width: 386px;
    height: 219px;
    z-index: 3;
    position: relative;

}
.second-row:first-of-type {
    padding: 100px 30px;
}
.second-row-img {
    position: relative;
}

.second-row-img > div {
    position: relative;
}
.second-row-img > div::after {
    content: " ";
    position: absolute;
    left: -10%;
    top: -5%;
    background-color: #07ACE6;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 2;

}

.content .second-row .second-row-info   {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 416px;
}

.second-row-info h3 {
    font-family: Raleway;
    font-size: 36px;
}

.second-row-info p {
    font-family: "Open Sans";
    font-size: 16px;
}

.second-row-info::after {
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #07ACE6;
}

.second-row-img img {
    width: 426px;
    height: 328px;
    z-index: 1;
}

.third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.content .third-row-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 623px;
    height: 370px;
    background-color: white;
    /*margin: 100px auto;*/
    padding: 30px;
}

.third-row-img {
    width: 440px;
    height: 370px;
    background-color: #55DFB4;
}
.third-row-img img {
    display: block;
    margin: auto;
    width: 296px;
    height: 208px;

}

.third-row-info h3 {
    font-family: Raleway;
    font-size: 36px;
}

.third-row-info p {
    font-family: "Open Sans";
    font-size: 16px;
}

.third-row-info::after {
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #55DFB4;

}

.pricing {
    width: 100%;
    height: 100%;
    background-color: white;
}

.pricing h2 {
   text-align: center;
    margin: 100px auto 50px auto;
    font-size: 36px;
    font-family: Raleway;
}

.pricing-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
    border: #FB3B64 solid 1px;
    border-radius: 10px;
    padding: 20px;

}

.second-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 260px;

    border: #07ACE6 solid 1px;
    border-radius: 10px;
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 5px 10px 27px #07ACE629;

}

.third-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 230px;

    border: #55DFB4 solid 1px;
    border-radius: 10px;
    padding: 40px;
}

.header {
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}


/*.first-column .amount {*/
/*    font-size: 30px;*/
/*    font-family: Open Sans;*/
/*    font-weight: lighter;*/
/*    color: #FB3B64;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.second-column .amount {*/
/*    font-size: 30px;*/
/*    font-family: Open Sans;*/
/*    font-weight: lighter;*/
/*    color: #07ACE6;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.third-column .amount {*/
/*    font-size: 30px;*/
/*    font-family: Open Sans;*/
/*    font-weight: lighter;*/
/*    color: #55DFB4;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*}*/

.pricing-table .amount {
    font-size: 30px;
    font-family: Open Sans;
    font-weight: lighter;;
    margin-top: 10px;
    margin-bottom: 40px;
}
.first-column .amount {
    color: #FB3B64;
}

.second-column .amount {
    color: #07ACE6;
}

.third-column .amount {
    color: #55DFB4;
}

.icon {
    padding-left: 15px;
    min-height: 1.1em;
}
.icon.checkmark {
    background: url("../assets/Ckechmark-1.svg") no-repeat left center;
}

.icon.close {
    background: url("../assets/Close.svg") no-repeat left center;
}

.limited {
    font-size: 8px;
    font-weight: bold;
    font-family: Raleway;
    margin-bottom: 30px;
    color: gray;
}

.pricing-table li {
    font-size: 10px;
    font-family: "Open Sans";
    margin: 7px;
}

.first-column .button {
    width: 120px;
    background: #EB476E no-repeat;
    border-radius: 17px;
    text-align: center;
    padding: 10px;
    margin-top: 35px;
}

.first-column .button a {
    font: bold 10px Open Sans;
    color: #FFFFFF;
    text-decoration: none;
}

.second-column .button {
    width: 120px;
    background: #07ACE6 no-repeat;
    border-radius: 17px;
    text-align: center;
    padding: 10px;
    margin-top: 53px;
}

.second-column .button a {
    font: bold 10px Open Sans;
    color: #FFFFFF;
    text-decoration: none;
}

.third-column .button {
    width: 120px;
    background: #55DFB4 no-repeat;
    border-radius: 17px;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}

.third-column .button a {
    font: bold 10px Open Sans;
    color: #FFFFFF;
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.info h2 {
    font-family: Raleway;
    font-size: 40px;
}
.info p {
    font-family: Open Sans;
    font-size: 12px;
}

.email, .phone {
    font-family: "Open Sans";
    font-size: 12px;
    color: #A5A5A5;
}

.phone img {
    width: 20px;
    height: 20px;
}
.email img {
    width: 20px;
    height: 20px;
}



input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;

}

#fname, #email {
    color: #08A6E4;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
}

.footer {
    width: 100%;
    margin-top: 100px;
    background: #F7F7F7 no-repeat;
    box-shadow: 0px -5px 40px #00000029;
}
